
header {
    background-color: cadetblue;
    text-align: center;
}

nav[role="menu"] ul {
    padding: 0px;
}
nav[role="menu"] li {
    display: block;
    background-color: palegoldenrod;
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
}
nav[role="menu"] li a {
    display: block;
}

section.contenu {
    background-color: lightsalmon;
}

article {
    margin: 1em 0em 1em 0em;
    border: thick dotted gray;
}

section.commentaires {
    background-color: palegreen;
}

aside {
    margin: .5em 0em .5em 0em;
    border: thick dashed black;
}

footer {
    background-color: lightslategray;
    text-align: center;
}

div.main {
    display: inline;
}

@media screen and (min-width: 600px) {
    div.main {
        display: block;
    }

    nav[role="menu"] {
        display: inline-block;
        width: 10em;
        background-color: beige;
        vertical-align: top;
    }

    nav[role="menu"] li {
        /* display: inline-block; */
        font-size: 1em;
    }

    nav[role="menu"] li a {
        /* display: inline; */
    }

    section.contenu {
        display: inline-block;
        width: calc( 100% - 10em - 15em );
        vertical-align: top;
    }
    
    section.commentaires {
        display: inline-block;
        width: 15em;
        vertical-align: top;
    }

}